<h3>Filled text fields</h3>
<div style="display: flex; justify-content: start; gap: 10px; margin-top: 5px; ">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="#" target="_blank">Link</a>
</div>

<h3>Outlined text fields</h3>
<div style="display: flex; justify-content: start; gap: 10px; margin-top: 5px; ">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="#" target="_blank">Link</a>
</div>

