//Colores basados en el brand identity de Cibercont
$cibercont-blue-1: #1772b8;
$cibercont-blue-2: #008aca;
$cibercont-green-1: #23a86d;
$cibercont-black: #1f1f21;
$color-red: #b00020;

$color-white: #ffffff;
$color-black: #000000;

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);

$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);