<app-eliminar>
    <p>
        Apariencia de la Aplicacion:
        <mat-button-toggle-group name="thema" aria-label="tema">
            <mat-button-toggle value="o-light-theme" (change)="onValChange($event.value)">Claro</mat-button-toggle>
            <mat-button-toggle value="o-dark-theme" (change)="onValChange($event.value)">Oscuro</mat-button-toggle>
            <mat-button-toggle value="o-system-theme" (change)="onValChange($event.value)">Sistema</mat-button-toggle>
        </mat-button-toggle-group>
    </p>
    <app-buttons></app-buttons>
</app-eliminar>
<!-- // app-buttons.component.html -->